#page("<link href='$!{contextPath}/resources/css/newsList.css' rel='stylesheet' type='text/css'/>", "
         <div class='row'>
            <div class='col-md-12'>
               <h1>新闻速递</h1>
               <div class='row'>
                  <div class='col-md-12'>
					<!-- 瀑布流样式开始 -->
					<div class='waterfull clearfloat' id='waterfull'>
						<ul>
							#foreach($news in $!newsList)			
							<li class='item' newsId='$!news.id'>
								<a href='javascript:void(0)' class='a-img'>
									<img src='$!{contextPath}/download/img/$!news.picurl' alt=''>
								</a>
								<h2 class='li-title' title='$!news.title'>$!news.title</h2>
								<p class='description'>$!news.content</p>
								<div class='qianm clearfloat'>
									<span class='sp1'><b>688</b>浏览</span>
									<span class='sp2'>$!news.src</span>
									<span class='sp3'>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!news.date)&nbsp;From</span>
								</div>
							</li>
							#end
						</ul>
					</div>
					<!-- loading按钮自己通过样式调整 -->
					<div id='imloading' style='width:150px;height:30px;line-height:30px;font-size:16px;text-align:center;border-radius:3px;opacity:0.7;background:#000;margin:10px auto 30px;color:#fff;display:none'>
						I'm Loading.....
					</div>                  
                  </div>
               </div>
            </div>
         </div>")
<script type="text/javascript">
	$(function(){
	
		$('body').on('click', '.item', function(){
			var id = $(this).attr('newsId');
			window.location.href = contextPath + "/news/details/" + id;
		})
	});
</script>
<script type="text/javascript" src="$!{contextPath}/resources/js/waterfall2.js"></script>
#endBody
#endHtml