<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder location="classpath:datasource.properties" />
	<context:component-scan base-package="com.zhu " />

	<!-- velocity的配置 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="contentType" value="text/html;charset=utf-8" />
		<!-- <property name="viewNames" value="*.htm,*.html,*.vm" /> -->
		<property name="dateToolAttribute" value="dateTool" />
		<property name="suffix" value=".htm"></property>
		<property name="exposeSessionAttributes" value="true"></property>
	</bean>
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<!-- resourceLoaderPath属性通知Velocity到哪里找到velocity模板 -->
		<property name="resourceLoaderPath" value="WEB-INF/view/" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
			</props>
		</property>
	</bean>

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="formatters">
			<set>
				<bean class="com.zhu.prototype.web.support.formatter.DateFormatter"></bean>
			</set>
		</property>
	</bean>
	<mvc:annotation-driven conversion-service="conversionService" />

	<!--<mvc:resources location="classpath:/" mapping="/resources/**"/>-->
	<!--
		<mvc:resources mapping="/assets/**"
		location="classpath:/plugin/assets/" />
	-->

	<bean id="resourceHttpRequestHandler"
		class="org.springframework.web.servlet.resource.ResourceHttpRequestHandler">
		<property name="locations">
			<list>
				<value>classpath:/plugin/</value>
				<value>/download/</value>
				<value>classpath:/META-INF/</value>
			</list>
		</property>
	</bean>
	
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/plugin/**">resourceHttpRequestHandler</prop>
				<prop key="/download/**">resourceHttpRequestHandler</prop>
				<prop key="/resources/**">resourceHttpRequestHandler</prop>
			</props>
		</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" />
		<property name="fileEncodings" value="utf-8" />
		<property name="cacheSeconds" value="1" />
	</bean>
	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*" />
			<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<import resource="classpath:mybatis.xml" />


</beans>